__Question 3__
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

# SETS

A collection which is unordered and unindexed is called set.In Python sets are written using curly brackets.
They are unordered thus in output they can appear in any order.Since it is unordered the index is not fixed and thus we cannot access the items through the index.

In [1]:
#Defining a set
names = {'Elena','Demon','Stephan','Taylor'}
print(names)

{'Stephan', 'Taylor', 'Demon', 'Elena'}

We cannot access the items of sets through index but a ___for___ loop can be used to check whether a particular item is present in the set or not by using __in__ keyword.

In [2]:
for x in names:
    print(x)

Stephan
Taylor
Demon
Elena

In [3]:
#for checking a particular item
print('Taylor'in names)

True

__CHANGING OR ADDING/UPDATING OF ITEMS__

we cannot change the elements of a set they are fixed once a set is created.
But we can change the number of items, adding one single element by using add() method or adding more than one element by using update() method.

In [5]:
names.add("Madd")
print(names)

{'Demon', 'Stephan', 'Madd', 'Taylor', 'Elena'}

In [6]:
names.update(['Claus','Bonnie'])
print(names)

{'Demon', 'Bonnie', 'Stephan', 'Madd', 'Taylor', 'Elena', 'Claus'}

__Determining the length of a set__
length of a set can be determined by using length (len) function.

In [7]:
print(len(names))

7

__Remove a item__

we can use remove() method or discard() method to remove a item .
___discard()___ method will not raise an error if the item we want to remove does not exist in set but ___remove()___ method will raise error if the item does not exist in the set.

In [8]:
names.remove('Claus')
print(names)

{'Demon', 'Bonnie', 'Stephan', 'Madd', 'Taylor', 'Elena'}

In [9]:
names.discard('Madd')
print(names)

{'Demon', 'Bonnie', 'Stephan', 'Taylor', 'Elena'}

In [10]:
names.remove('Claus')

KeyError: 'Claus'

In [12]:
names.discard('Madd')

Hence remove() gives error while discard() is not giving any error.

To remove a item we can also use ___pop()___ method.

In [15]:
x = names.pop()
print(x)

Bonnie

Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

__Clear()__ method

It empties the whole set.

In [17]:
names.clear()
print(names)

set()

__del()__ method

It deletes the whole set.

In [19]:
del names
print(names)
#so in the output we saw that the error occurs on line 2 as no such set now exists.

NameError: name 'names' is not defined

__Join Two Sets__
There are several ways to join two or more sets in Python.

we can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another.

In [36]:
set1 = {"b", "c" , "d"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'd', 'b'}

__The set() Constructor__

It is also possible to use the set() constructor to make a set.

In [35]:
names = set(('Elena','Demon','Stephan','Taylor'))
print(names)

{'Stephan', 'Taylor', 'Demon', 'Elena'}

# Set Methods
Python has a set of built-in methods that you can use on sets.

__Method__	                         __Description__

1.add()    	                         Adds an element to the set

2.clear()	                         Removes all the elements from the set

3.copy()	                         Returns a copy of the set

4.difference()	                     Returns a set containing the difference between two or more sets

5.difference_update()	             Removes the items in this set that are also included in another, specified set

6.discard()	                         Remove the specified item

7.intersection()	                 Returns a set, that is the intersection of two other sets

8.intersection_update()	             Removes the items in this set that are not present in other, specified set(s)

9.isdisjoint()	                     Returns whether two sets have a intersection or not

10.issubset()	                     Returns whether another set contains this set or not

11.issuperset()	                     Returns whether this set contains another set or not

12.pop()	                         Removes an element from the set

13.remove()	                         Removes the specified element

14.symmetric_difference()	         Returns a set with the symmetric differences of two sets

15.symmetric_difference_update()	 inserts the symmetric differences from this set and another

16.union()	                         Return a set containing the union of sets

17.update()	                         Update the set with the union of this set and others

__SOME OF THE EXAMPLES OF THESE SET METHODS ARE__

In [27]:
st = {1,5,5,8,"Taylor",3,4,7,"Python3","CSE","Ana"}

In [28]:
st

{1, 3, 4, 5, 7, 8, 'Ana', 'CSE', 'Python3', 'Taylor'}

In [29]:
st.pop()
st

{1, 3, 4, 5, 7, 8, 'Ana', 'CSE', 'Taylor'}

In [30]:
st.remove("CSE")
st

{1, 3, 4, 5, 7, 8, 'Ana', 'Taylor'}

In [31]:
st.update("Amy")
st

{1, 3, 4, 5, 7, 8, 'A', 'Ana', 'Taylor', 'm', 'y'}

In [32]:
st.intersection("Amy")

{'A', 'm', 'y'}

In [33]:
st.issuperset("3")

False

In [34]:
st.issubset("Ana")

False