__Question 1__
Write a Python program to find the first 20 non-even prime natural numbers.

In [13]:
n = int(input("How many prime numbers would you like to print??"))
numbers = range(1,n*10)
prime_numbers = []
for num in numbers:
    if num > 2 and len(prime_numbers) <= n-1:
        for i in range(2,num):
            if num%i == 0:
                break
        else:
            prime_numbers.append(num)
print("\nHence the first",n,"non-even prime natural numbers")
for x in prime_numbers:
    print(x,end = " ")

How many prime numbers would you like to print?? 20

Hence the first 20 non-even prime natural numbers
3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73

__Question 2__
Write a Python program to implement 15 functions of string.

In [2]:
my_string = "ayushigupta@BtechComputerSciencestudent"
print(my_string)

ayushigupta@BtechComputerSciencestudent

In [3]:
my_string.capitalize() #1

'Ayushigupta@btechcomputersciencestudent'

In [4]:
x=my_string.find("Btech") #2
print(x)

12

In [5]:
x=my_string.count("c") #3
print(x)

3

In [6]:
x=my_string.index("@") #4
print(x)

11

In [7]:
my_string.isalnum()  #5

False

In [8]:
my_string.isalpha()  #6

False

In [9]:
my_string.lower()   #7

'ayushigupta@btechcomputersciencestudent'

In [10]:
my_string.swapcase()  #8

'AYUSHIGUPTA@bTECHcOMPUTERsCIENCESTUDENT'

In [11]:
my_string.upper()  #9

'AYUSHIGUPTA@BTECHCOMPUTERSCIENCESTUDENT'

In [12]:
my_string.isdigit()  #10

False

In [13]:
my_string.isprintable()  #11

True

In [14]:
my_string.isidentifier()  #12

False

In [15]:
my_string.endswith("dent")  #13

True

In [16]:
my_string.isspace()  #14

False

In [17]:
my_string.istitle()  #15

False

__Question 3__
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

In [1]:
a = str(input("enter the String 1 of your choice"))
b = str(input("enter the string 2 of your choice"))
if sorted(a)==sorted(b):
    print("The entered strings are anagrams")
elif a == a[::-1]:
    print("The entered string 1 is a palindrome")
elif b == b[::-1]:
    print("The entered string 2 is a palindrome")
else:
    print("None of the strings are palindromes and they are not anagrams")

enter the String 1 of your choice mmdma
enter the string 2 of your choice dammm
The entered strings are anagrams

__Question 4__
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer".

In [6]:
def remove_char(string):
    alphanum = "abcdefghijklmnopqrstuvwxyz1234567890"
    string = string.lower().replace(" "," ")
    new_string = ""
    for i in string:
        if i in alphanum:
            new_string = new_string + i
    print(new_string)

In [8]:
remove_char("Ayushi Gupta@bday15052000")

ayushiguptabday15052000

In [9]:
remove_char("Dr. Darshan Ingle@AI-ML Trainer")

drdarshaningleaimltrainer